pyserial>=3.5,<4
sparkfun-qwiic>=1.0.0
sparkfun-qwiic-icm20948>=1.0.0
sparkfun-qwiic-ism330dhcx>=1.0.0
sparkfun-qwiic-mmc5983ma>=1.0.0
numpy>=1.21
depthai>=2.24
blobconverter>=1.4
opencv-python-headless>=4.8
mcap>=1.1
flask>=3.0
smbus2>=0.4
